<% if @pet.errors.any? %>
  <% @pet.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit pet #<%= @pet.id %>
</h1>

<hr>

<form action="/update_pet/<%= @pet.id %>" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @pet.name %>">
  </div>

  <div class="form-group">
    <label for="category">
      Category
    </label>

    <input type="text" id="category" name="category" class="form-control" value="<%= @pet.category %>">
  </div>

  <div class="form-group">
    <label for="note">
      Note
    </label>

    <input type="text" id="note" name="note" class="form-control" value="<%= @pet.note %>">
  </div>

  <div class="form-group">
    <label for="photo">
      Photo
    </label>

    <%= cl_image_tag(@pet.photo.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="photo" name="photo" class="form-control">
  </div>


  <button class="btn btn-block btn-outline-secondary">
    Update pet
  </button>
</form>

<hr>

<a href="/pets">
  Go back
</a>
