<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All tasks
    </h1>

    <a href="/tasks/new" class="btn btn-block btn-outline-secondary">
      Add a new task
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "task_templates/tasks_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Description
        </th>

        <th>
          Finished
        </th>

        <th>
          Deadline
        </th>

        <th>
          Relationship
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= task.id %>
        </td>

        <td>
          <%= task.name %>
        </td>

        <td>
          <%= task.description %>
        </td>

        <td>
          <%= task.finished %>
        </td>

        <td>
          <%= task.deadline %>
        </td>

        <td>
          <% if task.relationship.present? %>
            <a href="/relationships/<%= task.relationship.id %>">
              <%= task.relationship.home_owner_id %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(task.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(task.updated_at) %> ago
        </td>

        <td>
          <a href="/tasks/<%= task.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @tasks, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
