<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Task #<%= @task.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/tasks" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/tasks/<%= @task.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit task
        </a>
      </div>

      <div class="col">
        <a href="/delete_task/<%= @task.id %>" class="btn btn-block btn-outline-secondary">
          Delete task
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @task.name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @task.description %>
      </dd>

      <dt>
        Finished
      </dt>
      <dd>
        <%= @task.finished %>
      </dd>

      <dt>
        Deadline
      </dt>
      <dd>
        <%= @task.deadline %>
      </dd>

      <dt>
        Relationship
      </dt>
      <dd>
        <% if @task.relationship.present? %>
          <a href="/relationships/<%= @task.relationship_id %>">
            <%= @task.relationship.home_owner_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@task.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@task.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

