<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All reports
    </h1>

    <a href="/reports/new" class="btn btn-block btn-outline-secondary">
      Add a new report
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Description
        </th>

        <th>
          Photo
        </th>

        <th>
          Relationship
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @reports.each do |report| %>
      <tr>
        <!-- Display report.id start -->
        <td>
          <%= report.id %>
        </td>
        <!-- Display report.id end -->

        <!-- Display report.name start -->
        <td>
          <%= report.name %>
        </td>
        <!-- Display report.name end -->

        <!-- Display report.description start -->
        <td>
          <%= report.description %>
        </td>
        <!-- Display report.description end -->

        <!-- Display report.photo start -->
        <td>
          <img src='<%= report.photo %>' class='img-fluid'>
        </td>
        <!-- Display report.photo end -->

        <!-- Display report.relationship_id start -->
        <td>
          <%= report.relationship_id %>
        </td>
        <!-- Display report.relationship_id end -->

        <!-- Display report.created_at start -->
        <td>
          <%= time_ago_in_words(report.created_at) %> ago
        </td>
        <!-- Display report.created_at end -->

        <!-- Display report.updated_at start -->
        <td>
          <%= time_ago_in_words(report.updated_at) %> ago
        </td>
        <!-- Display report.updated_at end -->

        <td>
          <a href="/reports/<%= report.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
