<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Report #<%= @report.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/reports" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/reports/<%= @report.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit report
        </a>
      </div>

      <div class="col">
        <a href="/delete_report/<%= @report.id %>" class="btn btn-block btn-outline-secondary">
          Delete report
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @report.name %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @report.description %>
      </dd>

      <dt>
        Photo
      </dt>
      <dd>
        <img src="<%= @report.photo %>" class="img-fluid">
      </dd>

      <dt>
        Relationship
      </dt>
      <dd>
        <% if @report.relationship.present? %>
          <a href="/relationships/<%= @report.relationship_id %>">
            <%= @report.relationship.home_owner_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@report.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@report.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

