<% if @relationship.errors.any? %>
  <% @relationship.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit relationship #<%= @relationship.id %>
</h1>

<hr>

<form action="/update_relationship/<%= @relationship.id %>" method="post">



  <div class="form-group">
    <label for="start_date">
      Start date
    </label>

    <input type="text" id="start_date" name="start_date" class="form-control" value="<%= @relationship.start_date %>">
  </div>

  <div class="form-group">
    <label for="end_date">
      End date
    </label>

    <input type="text" id="end_date" name="end_date" class="form-control" value="<%= @relationship.end_date %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update relationship
  </button>
</form>

<hr>

<a href="/relationships">
  Go back
</a>
