<!-- Validation failure messages -->
<% if @relationship.present? %>
  <% if @relationship.errors.any? %>
    <% @relationship.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new relationship
</h1>


<hr>

<!-- Form relationship start -->
<form action="/create_relationship" method="post">
<!-- Form relationship end -->

  <!-- Label and input for home_owner_id start -->
  <div class="form-group">
    <label for="home_owner_id">
      Home owner
    </label>

    <!-- Input for home_owner_id start -->
    <%= select_tag(:home_owner_id, options_from_collection_for_select(User.all, :id, :email, @relationship.home_owner_id), :class => "form-control") %>
    <!-- Input for home_owner_id end -->
  </div>
  <!-- Label and input for home_owner_id end -->

  <!-- Label and input for sitter_id start -->
  <div class="form-group">
    <label for="sitter_id">
      Sitter
    </label>

    <!-- Input for sitter_id start -->
    <%= select_tag(:sitter_id, options_from_collection_for_select(User.all, :id, :email, @relationship.sitter_id), :class => "form-control") %>
    <!-- Input for sitter_id end -->
  </div>
  <!-- Label and input for sitter_id end -->

  <!-- Label and input for start_date start -->
  <div class="form-group">
    <label for="start_date">
      Start date
    </label>

    <!-- Input for start_date start -->
    <input type="text" id="start_date" name="start_date" class="form-control" value="<%= @relationship.start_date %>">
    <!-- Input for start_date end -->
  </div>
  <!-- Label and input for start_date end -->

  <!-- Label and input for end_date start -->
  <div class="form-group">
    <label for="end_date">
      End date
    </label>

    <!-- Input for end_date start -->
    <input type="text" id="end_date" name="end_date" class="form-control" value="<%= @relationship.end_date %>">
    <!-- Input for end_date end -->
  </div>
  <!-- Label and input for end_date end -->

  <button class="btn btn-block btn-outline-secondary">
    Create relationship
  </button>
</form>

<hr>

<a href="/relationships">
  Go back
</a>
